:root {
  --bg-white: #fff;
  --bg-dark: #000;
  --color-black: #2f2f2f;
  --color-danger: rgb(255, 0, 0);
  --color-warning: rgb(0, 255, 255);
}

.u-bg-white {
  background-color: var(--bg-white);
}

.u-bg-dark {
  background-color: var(--bg-dark);
}

.div-no-box-sized {
  border: 2px solid red;
  width: 300px;
  height: 100px;
  padding: 16px;
  margin-bottom: 16px;
}

.div-box-sized {
  border: 2px solid pink;
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  padding: 16px;
}

.input-text-placeholder::placeholder {
  color: pink;
}

.c-list-marked li::marker {
    color: red;
}

.p-selection::selection {
    color: red;
    background-color: yellow;
}

.div-before-after::before {
  content: "----before-content----";
}
.div-before-after::after {
  content: "-after-content-";
  display: inline-block;
  background-color: red;
  width: 100px;
  height: 40px;
}

.div-meter {
  box-sizing: border-box;
  /* border: 1px solid black; */
  border-radius: 24px;
  width: 480px;
  height: 56px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
.div-meter::after {
  background-color: greenyellow;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  /* width: 80px; */
  height: inherit;

  animation-name: loading-progress;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes loading-progress {
  0% {
    width: 0%;
    content: "0%";
  }
  20%,
  40% {
    width: 40%;
    content: "40%";
  }
  45%,
  55% {
    width: 55%;
    content: "55%";
  }
  60%,
  75% {
    width: 75%;
    content: "75%";
  }
  80%,
  100% {
    width: 100%;
    content: "100%";
  }
}

.div-non-resp {
  box-sizing: border-box;
  background-color: teal;
  color: white;
  width: 240px;
  padding: 16px;
}

.div-non-resp {
  box-sizing: border-box;
  background-color: teal;
  color: white;
  width: 240px;
  padding: 16px;
}

.div-resp {
  box-sizing: border-box;
  background-color: palegoldenrod;
  width: 100%;
  padding: 16px;
}
/* tablet */
@media screen and (max-width: 960px) {
  .div-resp {
    width: 80%;
    background-color: purple;
  }
}

/* phones */
@media screen and (max-width: 540px) {
  .div-resp {
    width: 50%;
    background-color: saddlebrown;
  }
}

.c-exercise {
  background: salmon;
  width: 100%;
}
.c-exercise__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
.c-exercise__item {
    background-color: white;
    margin: 16px;
    padding: 16px;
    width: 33%;
    transition: all 0.5s ease-in;
}

@media screen and (max-width: 960px) {
    .c-exercise__flex {
        flex-direction: column;
    }
    .c-exercise__item {
        background-color: grey;
        width: 85%;
    }
}

@media screen and (max-width: 540px) {
    .c-exercise__item {
        background-color: greenyellow;
        width: 50%;
    }
}
